SITE_NAME=ScaleSphere
SITE_TAGLINE=Scale Smarter. Grow Further.
SITE_URL=http://localhost:3000
CLIENT_URL=http://localhost:3000
SITE_EMAIL=info@scalesphere.com
SITE_PHONE=+91 8884 739 988
SITE_ADDRESS=3rd Floor, 435, 27th Main Road, Sector 1, HSR Layout, Bengaluru, Karnataka 560102
LIVE_ASSETS=https://www.techasoft.com
NODE_ENV=development
